*.swp
package-lock.json
__pycache__
.pytest_cache/
.venv/
*.egg-info
*.mypy_cache/**
.ruff_cache/
*.pyc
.coverage
htmlcov/
.DS_Store
.idea
.isort.cfg
.vscode/
.build

.*-env.sh
.env-dev
.env
src/.env
src/docker
src/.dockerignore
instance/
PoC.md
src/postgres-data
postgres-data
